.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #00796b;
  padding: 20px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
 
/* Grid Layout for Schedule Cards */
.schedule-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  margin-top: 40px;
  animation: fadeIn 1s ease-out;
}
 
/* Schedule Card Styling */
.schedule-card {
  /* background-color: #abb7e8; */
  background: linear-gradient(135deg, #a0d2eb,#8598ec);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 
.schedule-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
 
/* Match Card Styling */
.card {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 2em;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
 
.card::after,
.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: spin 3s linear infinite;
}
 
.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
 
.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #00796b;
  font-weight: 600;
  transition: color 0.3s ease;
}
 
.card h3:hover {
  color: #004d40;
}
 
.card p {
  font-size: 0.95rem;
  margin-bottom: 8px;
}
 
.card .match-title {
  font-weight: bold;
  color: white;
}
 
/* Keyframes */
@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
 
/* Responsive Media Queries */
@media (max-width: 768px) {
  .schedule-container {
    grid-template-columns: 1fr;
  }
 
  h1 {
    font-size: 2rem;
  }
 
  .schedule-card {
    padding: 15px;
  }
}